<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyy.yunpicturebackend.mapper.PictureTagMapper">

    <!-- 批量插入，重复的忽略（依赖 uk_name 唯一索引） -->
    <insert id="insertIgnoreBatch">
        INSERT IGNORE INTO picture_tag (name) VALUES
        <foreach collection="names" item="name" separator=",">
            (#{name})
        </foreach>
    </insert>

    <!-- 根据名称列表批量查 -->
    <select id="selectByNames" resultType="com.wyy.yunpicturebackend.model.entity.PictureTag">
        SELECT * FROM picture_tag
        WHERE name IN
        <foreach collection="names" item="name" open="(" close=")" separator=",">
            #{name}
        </foreach>
    </select>

</mapper>
